.title {
    top: 10%;
    left: 25%;
    font-size: 80px;
    position: absolute;
    text-transform: capitalize;
    color: crimson;
}

.one-column {
    position: absolute;
    text-transform: capitalize;
    top: 140%;
    left: 0.5%;
    color: aliceblue;
    font-size: 50px;
    background-color: crimson;
    border-style: dotted;
    padding: 0.5%;
    padding-right: 1%;
    border-radius: 8%;
}

.link {
    color: crimson;
    font-size: 15px;
}