.title {
    top: 8%;
    left: 25%;
    font-size: 90px;
    position: absolute;
    text-transform: capitalize;
    color: crimson;
}

.subtitle{ 
     position: absolute;
    text-transform: capitalize;
    top: 25%;
    left: 15%;
    font-size: 50px;
    color: crimson;
    
}

.line{
    position: absolute;
    text-transform: capitalize;
    top: 30%;
    left: 15%;
    font-size: 45px;
    color: crimson;
}

.link {
    color: crimson;
    font-size: 15px;
}